<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Gogle Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Theme/Admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Theme/Admin/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Theme/Admin/css/morris.css" type="text/css" />
    <!-- Graph CSS -->
    <link href="~/Theme/Admin/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="~/Theme/Admin/js/jquery-2.1.4.min.js"></script>
    <!-- //jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="~/Theme/Admin/stylesheet" href="css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
</head>
<body>
    <div class="page-container">
        @{
            Html.RenderPartial("~/Views/Admin/_LayoutAdminView.cshtml");
        }
        <!--/content-inner-->
        <div class="left-content">
            <div class="mother-grid-inner">
                <!--header start here-->

                <div class="map">
                    <div class="col-md-6 w3layouts-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7496149.95373021!2d85.84621250756469!3d23.452185887261447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30adaaed80e18ba7%3A0xf2d28e0c4e1fc6b!2sBangladesh!5e0!3m2!1sen!2sbd!4v1575623373545!5m2!1sen!2sbd" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                    <div class="col-md-6 agileits-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1627.0295567532442!2d90.39312659077844!3d23.727473793837333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8c2c798c041%3A0x88b7a8a80adf7af4!2sBUET%20Medical%20Center!5e0!3m2!1sen!2sbd!4v1575625217153!5m2!1sen!2sbd" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <div class="col-md-6 agileinfo-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.375132439242!2d90.3905953142966!3d23.7339985953211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8e90a449e4f%3A0xb7092a9c25197fa4!2sUniversity%20of%20Dhaka!5e0!3m2!1sen!2sbd!4v1575625324188!5m2!1sen!2sbd" style="border:0;" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <div class="col-md-6 w3-agileits-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1824.1328526140965!2d90.26764105793588!3d23.88019499872883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755e99900000001%3A0x2debf98e950c72ca!2sJahangirnagar%20University!5e0!3m2!1sen!2sbd!4v1575625546897!5m2!1sen!2sbd" style="border:0;" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <div class="col-md-6 agileits-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.0874486327184!2d90.40917581429605!3d23.708570996291332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b9072be4c8a9%3A0x1278bcef6c7c345!2sJagannath%20University(JnU)!5e0!3m2!1sen!2sbd!4v1575625808703!5m2!1sen!2sbd" style="border:0;" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <div class="col-md-6 agileits-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3634.3725773297274!2d88.63327451430962!3d24.368339170807058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fbf02db6d04b59%3A0xaa58eb411ea3ec5c!2sUniversity%20of%20Rajshahi!5e0!3m2!1sen!2sbd!4v1575626297948!5m2!1sen!2sbd" style="border:0;" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- script-for sticky-nav -->
                <script>
                    $(document).ready(function () {
                        var navoffeset = $(".header-main").offset().top;
                        $(window).scroll(function () {
                            var scrollpos = $(window).scrollTop();
                            if (scrollpos >= navoffeset) {
                                $(".header-main").addClass("fixed");
                            } else {
                                $(".header-main").removeClass("fixed");
                            }
                        });

                    });
                </script>
                <!-- /script-for sticky-nav -->
                
                <!--copy rights start here-->
                <div class="copyrights">
                    <p>© 2019 All Rights Reserved | Design by  Md Toriqul Islam </p>
                </div>
                <!--COPY rights end here-->
            </div>
        </div>
        <!--//content-inner-->
        <!--/sidebar-menu-->

        <div class="clearfix"></div>
    </div>
    <script>
							var toggle = true;

							$(".sidebar-icon").click(function() {
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }

											toggle = !toggle;
										});
    </script>
    <!--js -->
    <script src="~/Theme/Admin/js/jquery.nicescroll.js"></script>
    <script src="~/Theme/Admin/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Theme/Admin/js/bootstrap.min.js"></script>
    <!-- /Bootstrap Core JavaScript -->

</body>
</html>