table {
    
    position: center;
    margin-left:250px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 600px;
}

td, th {
    border: 1px solid #dddddd;
    text-align:left;
    padding: 9px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.men {
   
   margin-top:-200px;
   position:center;
   margin-left:400px;
    
}

.Heading {
    margin-left: 120PX;
    color: red;
    position: center;
    font-size: 15px;
    font: bold;
}

.td {
    height: 20px;
}
