<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admission</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Education Admission Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="~/Theme/ApplyTest/Business/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <link rel="stylesheet" href="~/Theme/ApplyTest/Business/css/font-awesome.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <!-- //web font -->
</head>

<body>
    <!-- main -->
    <div class="main-agileits">
        <h1>
            Major Of Business for Admission
            <img src="~/Theme/ApplyTest/Business/images/logo.png" alt="">
        </h1>
        <div class="register-form" style="width:900px">
            <form action="@Url.Action("MajorOfBusiness","Student")" method="post">

                <div style="width:400px">
                    <div class="fields-grid">
                        <label>
                            <b style="color:red">Subject of HSC Business Studies</b>
                        </label>
                        <div class="styled-input">
                            <label class="form-label">
                                Total SSC Number
                                <span class="form-required">*</span>
                            </label>
                            <input type="number" id="totalssc" name="TotalSSC" min="720" max="1199" required="">
                        </div>
                        <div class="styled-input">
                            <label class="form-label">
                                Bangla 1st Paper
                                <span class="form-required">*</span>
                            </label>
                            <input type="number" id="bangla1st" name="Bangla1st" min="60" max="99" required="">
                        </div>
                        <div class="styled-input">
                            <label class="form-label">
                                English 1st Paper
                                <span class="form-required">*</span>
                            </label>
                            <input type="number" id="English1st" name="Engish1st" min="60" max="99" required="">
                        </div>
                        <div class="styled-input">
                            <label class="form-label">
                                Accounting 1st Paper
                                <span class="form-required">*</span>
                            </label>
                            <input type="number" id="accounting1st" name="Accounting1st" min="60" max="99" required="">
                        </div>
                        <div class="styled-input">
                            <label class="form-label">
                                Finaance 1st Paper
                                <span class="form-required">*</span>
                            </label>
                            <input type="number" id="finaance1st" name="Finaance1st" min="60" max="99" required="">
                        </div>
                        <div class="styled-input">
                            <label class="form-label">
                                Managment 1st Paper
                                <span class="form-required">*</span>
                            </label>
                            <input type="number" id="managment1st" name="Managment1st" min="60" max="99" required="">
                        </div>
                        <div class="styled-input">
                            <label class="form-label">
                                Marketing 1st Paper
                                <span class="form-required">*</span>
                            </label>
                            <input type="number" id="marketing1st" name="Marketing1st" min="60" max="99" required="">
                        </div>
                        <div class="styled-input">
                            <label class="form-label">
                                ICT
                                <span class="form-required">*</span>
                            </label>
                            <input type="number" id="ict" name="ICT" min="60" max="99" required="">
                        </div>


                        <div class="clear"> </div>
                    </div>
                </div>
                <div style="width:400px; margin-left:500px; margin-top:-590px;">
                    <div class="fields-grid">

                        <label>
                            <b style="color:red">Subject of HSC Business Studies</b>
                        </label>
                        <div class="styled-input">
                            <input id="datepicker" placeholder="Date of Today" name="Date" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}"
                                   required="">
                        </div>
                        <div class="styled-input">
                            <label class="form-label">
                                Bangla 2nd Paper
                                <span class="form-required">*</span>
                            </label>
                            <input type="number" id="bangla2nd" name="Bangla2nd" min="60" max="99" required="">
                        </div>
                        <div class="styled-input">
                            <label class="form-label">
                                English 2nd Paper
                                <span class="form-required">*</span>
                            </label>
                            <input type="number" id="English2nd" name="English2nd" min="60" max="99" required="">
                        </div>
                        <div class="styled-input">
                            <label class="form-label">
                                Accounting 2nd Paper
                                <span class="form-required">*</span>
                            </label>
                            <input type="number" id="accounting2nd" name="Accounting2nd" min="60" max="99" required="">
                        </div>

                        <div class="styled-input">
                            <label class="form-label">
                                Finaance 2nd Paper
                                <span class="form-required">*</span>
                            </label>
                            <input type="number" id="finaance2nd" name="Finaance2nd" min="60" max="99" required="">
                        </div>
                        <div class="styled-input">
                            <label class="form-label">
                                Managment  2nd Paper
                                <span class="form-required">*</span>
                            </label>
                            <input type="number" id="managment2nd" name="Managment2nd" min="60" max="99" required="">
                        </div>
                        <div class="styled-input">
                            <label class="form-label">
                                Marketing 2nd Paper
                                <span class="form-required">*</span>
                            </label>
                            <input type="number" id="marketing2nd" name="Marketing2nd" min="60" max="99" required="">
                        </div>
                        <div class="styled-input">
                            <label class="form-label">
                                Total Marks of HSC And SSC
                                <span class="form-required">*</span>
                            </label>
                            <input type="number" id="TotalResult" name="Total_HSC_SSC" min="660" max="1299" required="">
                        </div>

                        <div class="clear"> </div>
                    </div>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <!-- //main -->
    <!-- copyright -->
    <div class="w3copyright-agile">
        <h2>
            © 2019 All rights reserved | Design by Md Toriqul Islam

        </h2>
    </div>
    <!-- //copyright -->
    <!-- js -->
    <script src="~/Theme/ApplyTest/Business/js/jquery-2.1.4.min.js"></script>

    <!-- Calendar -->
    <link rel="stylesheet" href="~/Theme/ApplyTest/Business/css/jquery-ui.css" />
    <script src="~/Theme/ApplyTest/Business/js/jquery-ui.js"></script>
    


    <script>
        $(function () {
            $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
        });

    </script>

    <!-- //Calendar -->

</body>

</html>